
* {
    margin: 0;
    padding: 0;
}


/* NavBar Sytle */
.nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img {
    height: 35px;
    padding-left: 25px ;

}
.nav-bar ul li a:hover{
    color: #007bff!important;
}
.navbar {
    background:#fff ;
}
.navbar-toggler{
    border: none!important;

}
.nav-link {
    color: darkblue;
    font-weight: 600;
    font-size: 17px;
}
.navbar-nav   {
    margin-left: auto;
   
}
.navbar-nav li  {
    padding: 0 10px;
   
}
.nav-bar li a {
    float: right;
    text-align:left ;
}

/* SliderStyle */


/* ContainerSection */
.container{
    margin: 50px auto;
}
 .card{
     text-align: center;
     width: 46%;
     float: left;
     padding: 5%;
     margin: 2%;
     background-color: rgb(230, 227, 227) !important;
     border-radius: 15px !important;
 }
 .btn {
     width: fit-content;
    background: linear-gradient(90deg,rgba(45,156,219,.6),rgba(155,81,224,.6));
    margin: auto;
    padding: 10px 20px;
    border-radius:25px ;
}
